@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

}

body {
    background-color: #f2cdcd;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    margin: auto;
    text-align: center;
    width: 320px;
    background-color: white;
    border-radius: 20px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.205);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#div-imagem {
    display: block;
    height: 260px;
    background: black url(../imagens/imagem-login.jpg) center center no-repeat;
    background-size: cover;
}

#div-conteudo {
    display: block;
    padding: 25px;
}

h2, p {
    margin-bottom: 10px;
}

h2 {
    color: #f5c2e7;
}

p {
    text-align: left;
}

form {
    text-align: left;
}

input {
    border: none;
    outline: none;
    background: none;
}

.label {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #f5c2e7;
}

.label > input {
    padding-left: 10px;
    background-color: white;
    height: 30px;
    width: 85%;
    margin: 0px;
    border-radius: 10px;
}

.material-icons.md-24 {
    font-size: 24px;
    color: white;
}

.material-icons.md-15 {
    color: #abe9b3;
    font-size: 15px;
}

span {
    vertical-align: middle;
}

.button {
    text-align: center;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    border: solid 2px #abe9b3;
    cursor: pointer;
    padding: 8px;
}


.button.m1 {
    background-color: #abe9b3;
    color: white;
    margin-bottom: 10px ;
}

.button.m1:hover {
    background-color: #8ccf95;
    border: solid 2px #8ccf95;
}

a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

a:visited {
    color: black;
}

.button.m2 {
    display: block;
    width: 100%;
}

.button.m2:hover {
    background-color: #c0f8c7;
    border: solid 2px #c0f8c7;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    section {
        min-width: 680px;
        height: 390px;
    }

    #div-imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    #div-conteudo {
        float: right;
        width: 65%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    section {
        min-width: 900px;
        height: 450px;
    }

    #div-imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #div-conteudo {
        float: left;
        width: 50%;
        height: 100%;
    }
    
    h2 {
        font-size: 2em;
    }

    p {
        margin: 20px 0px;
    }

    .button {
        height: 40px;
    }

    .button.m1 {
        margin-bottom: 20px;
    }
}